# Postgres password
POSTGRES_PASSWORD=asecurepasswordchangeme

# The base URL of the application
BASE_URL=http://localhost

# Better auth secret
BETTER_AUTH_SECRET=arandomlygeneratedsecretkey

# Resend configuration and email identity to send from
RESEND_API_KEY=re_yourapikeyhere
SEND_EMAIL=no-reply@yourdomain.co.uk

# SNOMED API configuration
SNOMED_AUTH_URL=https://your-snomed-auth-url
SNOMED_BASE_URL=https://your-snomed-base-url
SNOMED_CLIENT_ID=your_client_id
SNOMED_CLIENT_SECRET=your_client_secret
