# Postgres password
POSTGRES_PASSWORD=asecurepasswordchangeme

# The frontend URL, used for CORS and redirects
TRUSTED_ORIGINS=http://localhost:8000

# The API base URL
PUBLIC_API_BASE_URL=http://localhost:3000

# Better auth secret
BETTER_AUTH_SECRET=arandomlygeneratedsecretkey

# Resend configuration and email identity to send from
RESEND_API_KEY=re_yourapikeyhere
SEND_EMAIL=no-reply@yourdomain.co.uk

# SNOMED API configuration
SNOMED_AUTH_URL=https://your-snomed-auth-url
SNOMED_BASE_URL=https://your-snomed-base-url
SNOMED_CLIENT_ID=your_client_id
SNOMED_CLIENT_SECRET=your_client_secret
