# Postgres password (change this to a secure password)
POSTGRES_PASSWORD=asecurepasswordchangeme

# The base URL that the application will be served from (used for links/api calls)
BASE_URL=http://localhost

# Better auth secret (change this to a secure random string in production)
BETTER_AUTH_SECRET=arandomlygeneratedsecretkey

# Admin users IDS (comma-separated list of user IDs who will have admin privileges)
# ADMIN_USER_IDS=

# Resend configuration and email identity to send from
RESEND_API_KEY=re_yourapikeyhere
SEND_EMAIL=no-reply@yourdomain.co.uk

# SNOMED API configuration - replace with your actual values

# Toggle the below if you provide a transitive closure db for SNOMED subsumation checks
# SNOMED_TC_DB_PATH=/usr/src/app/snomed.db

SNOMED_AUTH_URL=https://your-snomed-auth-url
SNOMED_BASE_URL=https://your-snomed-base-url
SNOMED_CLIENT_ID=your_client_id
SNOMED_CLIENT_SECRET=your_client_secret
