http://:80 {
    handle_path /docs/* {
        rewrite * /swagger{path}
        reverse_proxy tmr-web_api:3000
    }

    handle /api/* {
        reverse_proxy tmr-web_api:3000
    }

    handle {
        reverse_proxy tmr-web_web:3000
    }
}
